# Arquivos
*.class
*.csv
*.xls
*.xlsx
*.log
*.jar
*.war
*.nar
*.ear
*.tar.gz
.exe
.iml
.rar
.classpath
.project
.sencha
.history/
hs_err_pid*

#Diretorios
node_modules/
gradle/
target/
.gradle/
.idea/
.vscode/
.settings/
build/
database/
dbtest/
.sencha/
ext/
extjs/
dist/
src-cordova/
overrides/
packages/
diretorios.txt

poliana
98 3199 7275
tvn
98 3199 7272
