# Arquivos
mvnw
mvnw.cmd
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
.exe
.iml
.rar
.classpath
.project
.sencha
.history/
hs_err_pid*
package-lock.json

#Diretorios
/.mvnw/
node_modules/
gradle/
target/
.gradle/
.idea/
.vscode/
.settings/
build/
database/
.sencha/
ext/
extjs/
dist/
overrides/
packages/

https://medium.com/trainingcenter/criando-um-projeto-vuejs-com-o-vuecli-e-webstorm-58b695339c01
